@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Inter', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#contactNo::-webkit-inner-spin-button, 
#contactNo::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
